body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  .form__container {
    min-height: 100vh;
    background: linear-gradient(90deg, #fcfcfc 0%, #000200 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form__container form {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
  
  }
  .form__heading {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-label{
    width: 300px;
  padding: 15px;
  margin-right: 45px;
  font-size: 20px;
  }

 
  .form__button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
  }
  .form__button:hover {
    background-color: rgba(0, 0, 0, 0.795);
  }
  .form__submit-btn {
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px 0px;
  }
  .form__submit-btn:hover {
    opacity: 0.9;
  }
  .content {
    min-height: 93vh !important;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    background: linear-gradient(90deg, #fcfcfc 0%, #000200 100%);
  }

  .form-control{
    width: 250px;
  padding: 1px;
  margin-right: 10px;
  font-size: 15px;
  }