* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #0344f8, #fafafa);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #969696;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
  margin-top: 50px;
}

.header{
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  outline: none;
  width: 530px;
  padding: 15px;
  margin-right: 45px;
  font-size: 20px;
  color: #ccc;
  background-color: rgb(78, 76, 76);
  border: 1px solid #c89666;
  border-radius: 10px;

}

.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #09b603;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 30px 0;
  border: 3px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #3af800;
  margin-right: 10px;
}

.button-edit {
  color: #e2d029;
}

.button-delete {
  color: rgb(253, 1, 1);
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 500px;
  background-color: #3e4041;
  border: none;
  border-radius: 30px;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 25px;
}

.date{
  width: 100px;

  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 25px;
}

input:focus,
button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: cornsilk;
}

.nav-link{
  
  padding-right: 0px;
    margin-right: 0px;
    background-color: rgba(7, 255, 243, 0.014);
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.alert{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  
}
.left-todos{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 30px;
  font-family: monospace;
}

@media(max-width:1100px){
  .map{
      display: none;
  }
  }